<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Field_of_Dreams.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Field_of_Dreams.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Field_of_Dreams.Properties.Settings>
            <setting name="NumberOfPlayers" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Player_1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Player_2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Player_3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Player_4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Player_5" serializeAs="String">
                <value/>
            </setting>
            <setting name="Player_6" serializeAs="String">
                <value/>
            </setting>
        </Field_of_Dreams.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Field_of_Dreams.Properties.Settings>
            <setting name="ProgeamName" serializeAs="String">
                <value>Поле чудес</value>
            </setting>
        </Field_of_Dreams.Properties.Settings>
    </applicationSettings>
</configuration>
